
@import '../../components/variables.css';

.page_two__container{
	height: 100%;
	margin: 0 2%;
	
}

.images_container{
	/*Empty Style*/
}

.uploaded_image{
	padding: 5px;

	min-height: 100px;
	min-width: 100px;
	max-height: 300px;
	max-width: 300px;
}

.resultContainer{
	margin: 1.5em 1em;
	.imageVariants{
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		flex-wrap: wrap;
		div{
			margin: 5px;
		}
	}
}

